---
import '@/global_styles/global.scss';
import '@/global_styles/fonts.scss';
import '@/global_styles/responsive.scss';

import AnimationManager from './AnimationManagerLayout';

import LoadingScreen from '@/components/loading_screen/index.astro';
import SpriteProvider from './SpriteProvider.astro';

const {
	title = 'Шаблонная страница',
	description = 'Описание страницы',
	keywords = 'Ключевые слова на странице',
	locale = 'ru',
} = Astro.props;
---

<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{title}</title>

		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content={locale === 'ru' ? 'ru_RU' : 'en_US'} />
		<meta property="og:image" content="/seo/og-image.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<LoadingScreen />
		<SpriteProvider />
		<main id="page-content">
			<slot />

			<AnimationManager client:only="react" />
		</main>
	</body>
</html>
